@media (max-width: 992px) {
    .navbar {
        position: fixed;
        padding: 15px 15px;
        background-color: rgb(250, 251, 255);
        border-radius: 0 0 0px 0px;
        -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
        box-shadow: 0 0px 0px 0 rgba(5, 16, 44, .15);
    }
}


@media (max-width: 992px) {
    #logo-name{
        width: 117% !important;
    }
}

@media (max-width: 768px) {
    .bg-scroll .header-button,
    .header-button,
    .bg-map,
    .line,
    .social-icons,
    .header-phone,
    .header-macbook{
        display: none;
    }

    .sm-ac,
    .main-title {
        text-align: center;
    }

    .scroll-arrow {
        color: rgb(250, 251, 255);
    }

    h1 {
        color: rgb(250, 251, 255);
    }

    .main-suptitle: {
        opacity: 1;
        color: rgb(250, 251, 255);
    }

    .footer-copyright,
    footer,
    .call-to-action,
    .video {
        text-align: center;
        height: 100%;
    }

    footer .row {
        height: 100%;
        text-align: center;
    }

    .footer-nav li {
        display: block;
        margin: auto;
    }

    .footer-nav {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-copyright {
        text-align: center;
    }
    .footer-brand .logo {
        margin: 15px auto;
    }

    .hiw-item div {
        margin: 0 auto 30px;
    }

    .author,
    .hiw-item {
        text-align: center;
    }
    .navbar-collapse {
        padding: 30px 0;
    }

    .submit {
        font-weight: bold;
        width: 120px;
        height: 55px;
        margin: 0 auto;
    }

    .popup-window {
        width: 100%;
    }

    .contact-social-icons ul {
        text-align: center;
    }

    .testimonials-tooltip p {
        text-align: center;
        margin-right: 0;
    }
}
