/* =======================================================

      Product items

========================================================*/

.product article {

	border: 1px solid #e6e6e6;

	padding: 9px;

	background: #fff;

	display: inline-block;

	width: 100%;

	position: relative;

}

.product article .tag {

	color: #aaaaaa;

	display: inline-block;

	width: 100%;

	margin: 7px 0;

	font-size: 13px;

}

.product article .tittle {

	color: #0168b8;

	font-size: 14px;

	display: inline-block;

	min-height: 40px;

}

.product article .tittle:hover {

	color: #333;

}

.product article p.rev {

	font-size: 12px;

	color: #f73232;

	margin-top: 5px;

}

.product article .price {

	font-weight: bold;

	color: #333333;

	float: left;

}

.product article .price span {

	color: #aaaaaa;

	text-decoration: line-through;

	font-weight: normal;

	margin-left: 10px;

}

.product article .sale-tag {

	background: #f73232;

	border-radius: 2px;

	font-size: 13px;

	color: #fff;

	font-weight: bold;

	position: absolute;

	top: 9px;

	padding: 5px 10px;

	left: 9px;

	z-index: 22;

}

.product article img {

	width: 100%;

	max-width: 100%;

}

.product article .new-tag {

	background: #0088cc;

	border-radius: 2px;

	font-size: 13px;

	color: #fff;

	font-weight: normal;

	position: absolute;

	top: 9px;

	padding: 5px 10px;

	left: 9px;

}

.product article .cart-btn {

	height: 42px;

	width: 42px;

	border-radius: 50%;

	background: #eeeeee;

	color: #888888 !important;

	float: right;

	text-align: center;

	line-height: 44px;

	margin-top: -15px;

}

.product article .cart-btn:hover {

	background: #0168b8;

	color: #fff !important;

}

.product article .rev i {

	color: #fecb00;

	font-size: 13px;

}

.product .flex-control-thumbs {

	margin: 0 -10px;

	width: auto;

	margin-bottom: 10px;

	margin-top: 5px;

}

.product .on-nav .flex-direction-nav .flex-prev {

	left: 0px;

}

.product .on-nav .flex-direction-nav .flex-next {

	right: 0px;

}

.product .on-nav .flex-control-thumbs {

	padding: 0 50px;

}

.product .on-nav .flex-direction-nav a {

	bottom: 30px;

	top: auto;

}

.product .on-nav .thumb-slider {

	position: relative;

}

.product .item-img {

	display: inline-block;

	width: 250px;

	margin-right: 10px;

}

.col-list .product article {

	margin-bottom: 30px;

}

.col-list .product article .price {

	width: 100%;

	font-size: 16px;

	margin-bottom: 10px;

}

.col-list .product article .col-sm-5 {

	position: relative;

	min-height: 250px;

}

.col-list .product article .position-center-center {

	width: 100%;

}

.col-list .product article .col-sm-5 i {

	margin-right: 5px;

}

.col-list .product article .tag {

	margin-top: 30px;

}

.col-list .product article .heart {

	color: #aaaaaa;

	border: 1px solid #dfdfdf;

	height: 28px;

	width: 28px;

	border-radius: 50%;

	line-height: 26px;

	text-align: center;

	display: inline-block;

	position: absolute;

	right: 20px;

	font-size: 12px;

}

.col-list .product article .heart i {

	margin: 0px;

}

.col-list .product article .heart.navi {

	top: 35px;

}

.col-list .product .bullet-round-list li:before {

	top: 7px;

}

.col-list .product article .heart:hover {

	background: #0088cc;

	color: #fff;

	border: 1px solid #0088cc;

}

.col-list .product article .col-sm-5:before {

	border-left: 1px solid #f5f5f5;

	content: "";

	position: absolute;

	left: 0px;

	height: 100%;

	top: 0px;

	width: 1px;

}

.col-list .product article .tittle {

	min-height: inherit;

}

.flex-control-thumbs li {

	width: 25%;

}

.item-col-5 {

	margin: 0 -15px;

}

.item-col-5 .product {

	float: left;

	width: 20%;

	margin-bottom: 30px;

	padding: 0 15px;

	position: relative;

	min-height: 341px;

}

.item-col-4 {

	margin: 0 -15px;

}

.item-col-4 .product {

	float: left;

	width: 25%;

	margin-bottom: 30px;

	padding: 0 15px;

	position: relative;

	min-height: 341px;

}

.col-md-9 .item-col-4 .product {

	min-height: inherit;

}

.item-col-3 {

	margin: 0 -15px;

}

.item-col-3 .product {

	float: left;

	width: 33.3333333%;

	margin-bottom: 30px;

	padding: 0 15px;

	position: relative;

	min-height: 341px;

}

.item-col-2 {

	margin: 0 -15px;

}

.item-col-2 .product {

	float: left;

	width: 50%;

	margin-bottom: 30px;

	padding: 0 15px;

	position: relative;

	min-height: 341px;

}

.product.col-2x {

	width: 40%;

}

.like-bnr {

	background: #f5f5f5 url(../images/watch-bg.jpg) right center no-repeat;

	position: relative;

	min-height: 341px;

}

.like-bnr p {

	max-width: 195px;

	color: #555555;

}

.like-bnr p span {

	color: #aaaaaa;

	display: inline-block;

	width: 100%;

	margin: 10px 0;

}

.like-bnr h5 {

	font-weight: bold;

	margin-top: 0px;

}

.like-bnr .position-center-center {

	width: 100%;

	padding: 0 30px;

}

.btn-round {

	font-size: 14px;

	font-weight: bold;

	display: inline-block;

	padding: 10px 20px;

	border-radius: 50px;

	background: #0088cc;

	color: #fff;

	
}

.btn-round.big {

	padding: 15px 30px;

	font-size: 16px;

}

.btn-round:hover {

	background: #333 !important;

	color: #fff !important;

}

.flex-direction-nav {

	display: none;

}

.on-nav .flex-direction-nav {

	display: block;

}